@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Google+Sans:wght@400&family=Google+Sans:wght@500&family=Google+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

:root {
    --font-primary: 'Google Sans', 'Kosugi';
    --font-display: 'Google Sans', 'Kosugi';
    --font-headline: 'Google Sans', 'Kosugi';
    --font-code: 'Space Mono';
}

.theme-dark {
   --background-primary: #1b1b1f;
   --background-secondary: #23242a;
   --background-tertiary: #1b1b1f;
   --focus-primary: #b0c6ff;
   --green-360: #84d994;
   --status-danger: #FF5642;
   --brand-experiment: #b0c6ff;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: #1b1b1f;
    border-radius: 100px;
}

.lookFilled-1H2Jvj.colorGreen-jIPCAS {
    border-radius: 100px;
    background-color: #84d994;
    color: #003916;
}

.botTagRegular-kpctgU {
    border-radius: 100px;
    color: #002d6e;
}

.quickswitcher-pKcM9U {
    border-radius: 20px;
    background-color: var(--background-secondary);
}

.input-3r5zZY {
    border-radius: 20px;
    background-color: #1b1b1f;
}

.layout-1qmrhw {
    border-radius: 100px
}

.navButtonActive-1EqC5l:hover {
    color:#1b1b1f;
}

.contentDefault-17ewQQ, .contentUnread-1_MVDK {
    border-radius: 100px;
}

.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color:#b0c6ff;
}

.button-TGAkj4 {
    border-radius: 100px;
    background-color: #b0c6ff;
    color: #003d6e;
}

.upsellTooltipHeader-28hJ7J, .upsellTooltipText-SIthpf {
    color:#002d6e;
}

.content-3aT_vH {
    --text-link: #002d6e;
    color:#002d6e;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N {
    border-radius: 100px;
    border: 1px solid;
    border-color:#002d6e;
}

.lookInverted-2GrLaB.colorBrand-2M3O3N {
    border-radius: 100px;
}

.newMessagesBar-1hF-9G {
    border-radius: 100px;
    background-color: #8f9099;
}

.interactive-26HRN_ {
    border-radius: 100px;
}

button.button-12Fmur {
    border-radius: 100px;
}

.message-2CShn3.selected-2LX7Jy .buttonsInner-1ynJCY, .mouse-mode .message-2CShn3:hover .buttonsInner-1ynJCY {
    border-radius: 100px;
}


.circleIconButton-1VxDrg {
    color: #84d994;
}

.circleIconButton-1VxDrg:hover {
    color: #003916;
}

.menu-2TXYjN {
    border-radius: 20px;
}

.searchBar-jGtisZ {
    border-radius: 100px;
    background-color: #23242a;
    color: #44464f;
}

.app-2CXKsg button {
    border-radius: 100px;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N {
    color: #002d6e;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
    background-color: #18438f;
    color: var(--brand-experiment);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    background-color: #c5c6d0;
    color: #44464f;
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz:hover {
    color: #c5c6d0;
    background-color: #44464f;
}

.lookOutlined-3RTC7c.colorRed-2VFhM4 {
    border-color: #8f9099;
    color: #ffb4ab;
}

.lookOutlined-3RTC7c.colorRed-2VFhM4:hover {
    color: #ffb4ab;
    background-color: #93000a;
    border-color: #93000a;
}

.lookFilled-1H2Jvj.colorRed-2VFhM4 {
    background-color: #ffb4ab;
    color: #93000a;
    border-color: #ffb4ab;
}

.lookFilled-1H2Jvj.colorRed-2VFhM4:hover {
    color: #ffb4ab;
    background-color: #93000a;
    border-color: #93000a;

}

.side-1lrxIh .item-2GWPIy {
    border-radius: 100px;
}

.item-1TA5qI {
    border-radius: 100px;
}

.themedBackground-3uF0xW {
    border-radius: 100px;
    background-color: #23242a;
}

.scrollableContainer-15eg7h {
    border-radius: 8px;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: #003d6e;
}

.rolePill-78LFtg {
    border-radius: 100px;
    color: #c5c6d0;
}

.contentWrapper-3vHNP2 {
    border-radius: 20px;
}

.navButtonActive-1EqC5l {
    border-radius: 100px;
    background-color: #c5c6d0;
    color: #44464f;
}

.container-2oNtJn, .inner-2pOSmK {
    border-radius: 100px;
}

.lookInverted-2GrLaB.colorBrand-2M3O3N {
    color: #002d6e;
}

.detailsBlock-24pLFz {
    border-radius: 20px;
}

.lookFilled-GPyucw.select-Zz0IcO {
    border-radius: 100px;
}

.popout-15UxD6 {
    border-radius: 20px;
}

.wrapper-2vIMkT {
    border-radius: 100px;
}

.item-5ApiZt {
    border-radius: 100px;
}

.colorDefault-2_rLdz:hover {
    background-color: #b0c6ff;
    color: #002d6e;
}

.theme-dark .container-30qY7E {
    border-radius: 100px;
}
